.tetris{
    width: 450px;
    height: 700px;
    background-color: rgb(240,204,28);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

.header_title{
    width: fit-content;
    color: black;
    font-size: 25px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 100;
}

.setting_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 80px;
    width: 80px;
}

.power_btn{
    margin-left: 70px;
    margin-top: 40px;
    
}

.controll_btn{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100px;
    height: 100px;
    position: absolute;
    right: 120px;
    bottom: 110px;
}

.controll_btn *:nth-child(1){/*left*/
    grid-row: 2/3;
    grid-column: 1/2;
}

.controll_btn *:nth-child(2){/*top*/
    grid-row: 1/2;
    grid-column: 2/3;
}

.controll_btn *:nth-child(3){/*bottom*/
    grid-row: 3/4;
    grid-column: 2/3;
}

.controll_btn *:nth-child(4){/*right*/
    grid-row: 2/3;
    grid-column: 3/4;
}

.arrows{
    width:100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3,1fr);
}

.arrows *:nth-child(1){
    grid-row: 1/2;
    grid-column: 2/3;
}

.arrows *:nth-child(2){
    grid-row: 3/4;
    grid-column: 2/3;
}

.arrows *:nth-child(3){
    grid-row: 2/3;
    grid-column: 3/4;
}

.arrows *:nth-child(4){
    grid-row: 2/3;
    grid-column: 1/2;
}